language: objective-c
matrix:
  include:
    - os: osx
      osx_image: xcode10
      env: DEVICE="Apple TV 4K"
    - os: osx
      osx_image: xcode10
      env: DEVICE="Apple TV"
script:
  - bundle install
  - bundle exec pod repo update
  - bundle exec pod install --project-directory=FocusTvButton/
  - swiftlint
  - xcodebuild test -workspace FocusTvButton/FocusTvButton.xcworkspace -scheme FocusTvButton -destination "platform=tvOS Simulator,name=$DEVICE,OS=11.2"
